* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #0f172a;
    color: #fff
}

nav {
    background-color: #020617;
    display: flex;
  justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}
.logo{
    font-size: 23px;
   
}

nav a {
    color: rgb(197, 192, 192);
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
     color:  #38bdf8;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding-top: 7rem;
}

.profile {
    background-size: cover;
    background-position: center;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: 4px solid #38bdf8;
    margin-bottom: 15px;
    box-shadow: 0 0 70px #38bdf8;
}
.profile:hover{
    box-shadow: 0 0 20px #38bdf8;
    transition: 0.5s;
}

h1 {
    color: #38bdf8;
    margin-bottom: 10px;
    font-size: 50px;
}

h2 {
    margin-bottom: 10px;
    font-size: 30px;
}

p {
    letter-spacing: 1px;
    font-size: 20px;
}
.icon{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.icon i{
    color: #eaeff1;
    border-radius: 50%;
    width: 40px;
    height: 2.2rem;
    padding-top: 5px;
    border: 2px solid #38bdf8;
    font-size: 20px;
     transition: 0.5s;
     color: #38bdf8;
     box-shadow: 0 0 10px #38bdf8;
    
}
.icon i:hover{
      box-shadow: 0 0 10px 5px #38bdf8;
   color: #8fabe8;
    transform: translateY(-10px);
}

.btn {
    background: #38bdf8;
    color: black;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.About{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-bottom: 5rem;
}
@media (max-width: 480px) {
    .about-text{
        text-align: center;
    }
    .icon{
        justify-content: center;
        align-items: center;
    }
}
.about-img img{
     border-radius: 50%;
     width: 25rem;
    height: 25rem;
    border: 5px solid #38bdf8;
    box-shadow: 0 0 10px  #38bdf8;
}
.Skills h1{
    text-align: center;
}
.my img{
    width: 3rem;
}
.my{
    display: flex;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}
 .skills span {
            display: inline-block;
            background: #1e293b;
            padding: 8px 15px;
            margin: 5px;
            text-align: center;
            justify-content: center;
            border-radius: 20px;
        }
 /* ---------- Services Section ---------- */
      .services {
        padding: 80px 50px;
        text-align: center;
      }

      .services h2 {
       
        font-size: 36px;
        color: #ff5722;
        margin-bottom: 50px;
      }

      .service-cards {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
      }

      .card {
        background: rgb(12, 19, 41);
        padding: 30px 20px;
        border: 1px solid  #38bdf8;
        border-radius: 15px;
        width: 300px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
      }

      .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
      }

      .card h3 {
        font-size: 22px;
        margin-bottom: 15px;
        color: #ff5722;
         text-align: center;
      }

      .card p {
         text-align: center;
        font-size: 16px;
        line-height: 1.5;
        color: #a5a0a0;
      }